@using AssetManager.DTOs;

@model Person

<div>
    <form id="personForm" novalidate="novalidate">
        <div class="modal-header" style="background-color:#F2F2F2">
            <h5 class="modal-title text-black">@(Model == null ? "Add" : "Edit") Person</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            @if (Model != null)
            {
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Person</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Assets</button>
                    </li>
                </ul>       
            }
        <div class="modal-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    @Html.AntiForgeryToken()

                    <input asp-for="PersonId" type="hidden" />

                    <label asp-for="FirstName">First Name</label><span style="color:red">*</span>
                    <input asp-for="FirstName" class="form-control" />
                    <div style="height:18px">
                        <span asp-validation-for="FirstName" class="text-danger small"></span>
                    </div>

                    <label asp-for="LastName">Last Name</label><span style="color:red">*</span>
                    <input asp-for="LastName" class="form-control" />
                    <div style="height:18px">
                        <span asp-validation-for="LastName" class="text-danger small"></span>
                    </div>

                    <label asp-for="Email">Email</label><span style="color:red">*</span>
                    <input asp-for="Email" class="form-control" />
                    <div style="height:18px">
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row d-flex justify-content-around">
                        <div class="col-9">
                            <input id="assetIdSearchField" class="form-control" placeholder="asset id / barcode" />
                            <span id="assetIdSearchFieldValidation" class="text-danger small field-validation-error"></span>
                        </div>
                        <div class="col-3">
                            <button id="addAssetButton" type="button" class="btn btn-primary" onclick="addAsset()">Add Asset</button>
                        </div>
                    </div>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Asset ID</th>
                                <th scope="col">Asset Type</th>
                                <th scope="col">Model</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="assetTable">
                            @{
                                if (Model != null)
                                {
                                    foreach (var a in Model.Assets)
                                    {
                                        <tr>
                                            <td>@a.AssetId</td>
                                            <td>@a.AssetType</td>
                                            <td>@a.Model</td>
                                            <td class="d-flex align-items-center justify-content-center">
                                                <i  class="btn fa-solid fa-xmark" 
                                                    style="color:red" 
                                                    onclick="unmapAsset(this)"
                                                    data-asset-id="@a.AssetId" 
                                                    data-person-id="@Model.PersonId"></i>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">

    $("#FirstName").focus();

    function unmapAsset(el) {
        var assetId = $(el).attr('data-asset-id');
        var personId = $(el).attr('data-person-id');

        var removeAssetUrl = "/People/RemoveAsset";

        $.ajax({
            method: "POST",
            url: removeAssetUrl,
            data: { assetId: assetId, personId: personId },
            success: function (data, textStatus) {
                $(el).parent().parent().toggle();
            }
        });
    }

    $("#assetIdSearchField").on("keypress", function (event) {
        if (event.keyCode == 13) {
            addAsset();
            event.preventDefault();
        }
    })

    $(function () {
        $("#personForm").submit(function (e) {
            e.preventDefault();

            var fdata = new FormData();

            var personId = $("#PersonId").val();

            fdata.append('PersonId', personId);
            fdata.append('FirstName', $("#FirstName").val());
            fdata.append('LastName', $("#LastName").val());
            fdata.append('Email', $("#Email").val());
            fdata.append('RoleId', $("#RoleId").val());

            $.ajax({
                type: 'post',
                url: '/People/AddEdit',
                data: fdata,
                processData: false,
                contentType: false,
                success: function (data, textStatus) {
                    if (textStatus == 'success') {
                        $('#newPersonModal').modal('hide');

                        if (personId == 0) {
                            var isLastPage = $('#nextPageButton').hasClass('disabled');
                            
                            if (isLastPage)
                            {
                                $('tbody').append(data);
                            }
                            
                            doAnAlert('personCreateSuccess');
                        }
                        else {
                            $("tbody").children(`[data-id='${personId}']`).replaceWith(data);
                            doAnAlert("personEditSuccess");
                        }
                    }
                },
                error: function () {
                    doAnAlert("failure");
                }
            });
        });
    })

    function addAsset() {

        $("#assetIdSearchFieldValidation").html(""); //not this

        var assetId = $("#assetIdSearchField").val();
        var getAssetUrl = "/People/MapAsset";
        var personId = @(Model == null ? null : Model.PersonId)

        console.log('personid = ');
        console.log(personId);

        $.ajax({
            method: "POST",
            url: getAssetUrl,
            data: { personId: personId, assetId: assetId },
            success: function (data, textStatus) {
                $("#assetIdSearchField").val("");

                var asset = JSON.parse(data);

                $("#assetTable").append(`<tr><td>${asset.AssetId}</td><td>${asset.AssetType}</td><td>${asset.Model}</td><td class="text-center"><i  class="btn fa-solid fa-xmark" style="color:red" onclick="unmapAsset(this)" data-asset-id="${asset.AssetId}" data-person-id="${personId}"></i></td></tr>`);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#assetIdSearchFieldValidation").html(jqXHR.responseText);
            }
        });
    }
</script>