@using AssetManager.ViewModels

@model PersonGridViewModel

<div id="gridWrapper" class="h-100 mt-1 d-flex flex-column">
    <div class="table-responsive border rounded ps-1 pe-1 flex-grow-1">
        <table class="table table-striped table-sm mb-1">
            <thead>
                <tr>
                    <th scope="col" style="width:15%">People ID</th>
                    <th scope="col" style="width:20%">First Name</th>
                    <th scope="col" style="width:20%">Last Name</th>
                    <th scope="col" style="width:35%">Email Address</th>
                    <th scope="col" style="width:10%">Options</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var p in Model.People)
                    {
                        <tr data-id="@p.PersonId.ToString()">
                            <td class="align-middle">@p.PersonId</td>
                            <td class="align-middle">@p.FirstName</td>
                            <td class="align-middle">@p.LastName</td>
                            <td class="align-middle">@p.Email</td>
                            <td class="align-middle">
                                <div class="dropdown">
                                    <i class="fa-solid fa-ellipsis" type="button" id="personDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 20px;"></i>
                                    <ul class="dropdown-menu" aria-labelledby="personDropdown">
                                        <li><button class="dropdown-item" type="button" onclick="addEditPerson(@p.PersonId)">Edit</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="confirmDelete(@p.PersonId)">Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Person Navigation" class="mt-1">
        <ul class="pagination justify-content-end">

            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : String.Empty)" data-page="@(Model.CurrentPage-1)" onclick="getGridPageRelative(this)">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            @{
                for (var i = 0; i < Model.PageCount; i++)
                {
                    <li class="page-item @((i + 1) == Model.CurrentPage ? "active" : String.Empty)" data-page="@(i + 1)" onclick="getGridPageAbsolute(this)"><a class="page-link" href="#">@(i + 1)</a></li>
                }
            }
            <li id="nextPageButton" class="page-item @(Model.CurrentPage == Model.PageCount ? "disabled" : String.Empty)" data-page="@(Model.CurrentPage+1)" onclick="getGridPageRelative(this)">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<div id="testDiv1" class="d-flex disabled"></div>
<div id="testDiv2" class="d-flex"></div>