@using AssetManager.DTOs

@model PersonCreateDto

<tr data-id="@Model.PersonId.ToString()">
    <td class="align-middle">@Model.PersonId</td>
    <td class="align-middle">@Model.FirstName</td>
    <td class="align-middle">@Model.LastName</td>
    <td class="align-middle">@Model.Email</td>
    <td class="align-middle">
        <div class="dropdown">
            <i class="fa-solid fa-ellipsis" type="button" id="personDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 20px;"></i>
            <ul class="dropdown-menu" aria-labelledby="personDropdown">
                <li><button class="dropdown-item" type="button" onclick="addEditPerson(@Model.PersonId)">Edit</button></li>
                <li><button class="dropdown-item" type="button" onclick="confirmDelete(@Model.PersonId)">Delete</button></li>
            </ul>
        </div>
    </td>
</tr>