@using AssetManager.Models;
@using AssetManager.DTOs;
@using AssetManager.Enums
@using AssetManager.ViewModels

@model AssetAddEditViewModel

<div>
    @using (Html.BeginForm("AddEdit", "Assets"))
    {
        <div class="modal-header" style="background-color:#F2F2F2">
            <h5 class="modal-title text-black">@(Model == null ? "Add" : "Edit") Asset</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            @Html.AntiForgeryToken()

            <input asp-for="AssetDto.AssetId" type="hidden">

            <label asp-for="AssetDto.AssetType">Asset Type</label><span style="color:red">*</span>
            <select asp-for="AssetDto.AssetType" class="form-select"
                    asp-items="Html.GetEnumSelectList<AssetType>()">
                <option disabled selected class="text-muted">select</option>
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="AssetDto.AssetType" class="text-danger small"></span>
            </div>

            <label asp-for="AssetDto.Model">Model</label><span style="color:red">*</span>
            <select asp-for="AssetDto.Model" class="form-select"
                    asp-items="Html.GetEnumSelectList<Product>()">
                <option disabled selected class="text-muted">select</option>
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="AssetDto.Model" class="text-danger small"></span>
            </div>

            <label asp-for="AssetDto.Site">Site</label><span style="color:red">*</span>
            <select asp-for="AssetDto.Site" class="form-select"
                    asp-items="Html.GetEnumSelectList<Site>()">
                <option disabled selected class="text-muted">select</option>
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="AssetDto.Site" class="text-danger small"></span>
            </div>

            <label asp-for="AssetDto.PersonId">Person</label>
            <select asp-for="AssetDto.PersonId" class="form-select" data-active-id="@(Model?.AssetDto?.PersonId != null ? Model.AssetDto.PersonId : 0)">
                @{
                    if (Model?.People != null)
                    {
                        if (Model.AssetDto == null)
                        {
                            <option disabled selected class="text-muted">select</option>
                        }

                        foreach (var item in Model.People)
                        {
                            if (item.PersonId == Model.AssetDto?.PersonId)
                            {
                                <option value="@item.PersonId" selected>@($"{item.FirstName} {item.LastName}")</option>
                            }
                            else
                            {
                                <option value="@item.PersonId">@($"{item.FirstName} {item.LastName}")</option>
                            }
                        }
                    }
                    
                    //if (Model?.AssetDto.PersonId != null)
                    //{
                    //    <option value="@Model.AssetDto.PersonId">@Model.AssetDto.PersonName</option>
                    //}
                }                
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="AssetDto.PersonId" class="text-danger small"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="saveNewAsset" type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script> 
    //$(function () {
    //    var active = $("#PersonId").attr("data-active-id");
    //    var url = '/People/GetPersonOptions/';

    //    $("#PersonId").load(url);

    //    if (active > 0)
    //    {
    //        foreach(var el in $)
    //    }
    //});
</script>