@using AssetManager.Models;
@using AssetManager.ViewModels;

@model OrderAddEditViewModel

<div>
    <form id="orderForm" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="modal-header" style="background-color:#F2F2F2">
            <h5 class="modal-title text-black">@(Model.Order.OrderId == null ? "Add" : "Edit") Order</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">

                    <input asp-for="Order.OrderId" type="hidden">

                    <input asp-for="Order.ReceivedDttm" type="hidden">

                    <label asp-for="Order.ExternalOrderId">External Order ID</label><span style="color:red">*</span>
                    <input asp-for="Order.ExternalOrderId" class="form-control" />
                    <div style="min-height:15px">
                        <span asp-validation-for="Order.ExternalOrderId" class="text-danger small"></span>
                    </div>

                    <label asp-for="Order.VendorId">Vendor</label><span style="color:red">*</span>
                    <select asp-for="Order.VendorId" class="form-select"
                            asp-items="@(new SelectList(Model.VendorOptions,"Value","Text"))">
                        <option disabled selected class="text-muted">select</option>
                    </select>
                    <div style="min-height:15px">
                        <span asp-validation-for="Order.VendorId" class="text-danger small"></span>
                    </div>

                    <label asp-for="Order.Cost">Cost</label><span style="color:red">*</span>
                    <input asp-for="Order.Cost" class="form-control" />
                    <div style="min-height:15px">
                        <span asp-validation-for="Order.Cost" class="text-danger small"></span>
                    </div>

                    <label asp-for="Order.PurchaserId">Purchaser</label><span style="color:red">*</span>
                    <select asp-for="Order.PurchaserId" class="form-select" data-active-id="@(Model?.Order?.PurchaserId != null ? Model.Order.PurchaserId : 0)">
                        @{
                            if (Model?.People != null)
                            {
                                if (Model.Order.OrderId == null)
                                {
                                    <option disabled selected class="text-muted"></option>
                                }

                                foreach (var item in Model.People)
                                {
                                    if (item.PersonId == Model.Order?.ApproverId)
                                    {
                                        <option value="@item.PersonId" selected>@($"{item.FirstName} {item.LastName}")</option>
                                    }
                                    else
                                    {
                                        <option value="@item.PersonId">@($"{item.FirstName} {item.LastName}")</option>
                                    }
                                }
                            }
                        }
                    </select>
                    <div style="min-height:15px">
                        <span asp-validation-for="Order.PurchaserId" class="text-danger small"></span>
                    </div>

                    <label asp-for="Order.ApproverId">Approver</label><span style="color:red">*</span>
                    <select asp-for="Order.ApproverId" class="form-select" data-active-id="@(Model?.Order?.ApproverId != null ? Model.Order.ApproverId : 0)">
                        @{
                            if (Model?.People != null)
                            {
                                if (Model.Order.OrderId == null)
                                {
                                    <option disabled selected class="text-muted"></option>
                                }

                                foreach (var item in Model.People)
                                {
                                    if (item.PersonId == Model.Order?.ApproverId)
                                    {
                                        <option value="@item.PersonId" selected>@($"{item.FirstName} {item.LastName}")</option>
                                    }
                                    else
                                    {
                                        <option value="@item.PersonId">@($"{item.FirstName} {item.LastName}")</option>
                                    }
                                }
                            }
                        }
                    </select>
                    <div style="min-height:15px">
                        <span asp-validation-for="Order.ApproverId" class="text-danger small"></span>
                    </div>

                    <label asp-for="Order.ApprovedDttm">Approved</label>
                    <input asp-for="Order.ApprovedDttm" class="form-control" type="datetime-local" />
                    <div style="min-height:15px">
                        <span asp-validation-for="Order.ApprovedDttm" class="text-danger small"></span>
                    </div>

                </div>
                <div class="col-6">
                    <container id="productsContainer">
                        @{
                            if (Model?.Order.Products != null)
                            {
                                for (var i = 0; i < Model.Order.Products.Count; i++)
                                {
                                    <div class="order-product row" data-index="@i">
                                        <div class="col-7">
                                            <label asp-for="@Model.Order.Products[i].ProductId">Product</label>
                                            <select asp-for="@Model.Order.Products[i].ProductId" class="form-select" asp-items="@(new SelectList(Model.ProductOptions,"Value","Text"))">
                                                <option disabled selected class="text-muted">select</option>
                                            </select>
                                            <div style="min-height:15px">
                                                <span asp-validation-for="@Model.Order.Products[i].ProductId" class="text-danger small"></span>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <label asp-for="@Model.Order.Products[i].Count">Count</label>
                                            <input asp-for="@Model.Order.Products[i].Count" class="form-control" />
                                            <div style="min-height:15px">
                                                <span asp-validation-for="@Model.Order.Products[i].Count" class="text-danger small"></span>
                                            </div>
                                        </div>

                                        @if (i > 0)
                                        {
                                            <div class="col-2 align-self-center">
                                                <i class="btn fa-solid fa-xmark" style="color:red" onclick="toggleElement(this)"></i>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        }
                    </container>
                    <button id="addFieldsButton" type="button" class="btn btn-sm btn-primary" style="width:100%;" onclick="addProductFields()">+</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="saveNewOrder" type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $("#Order_ExternalOrderId").focus();

    function addProductFields() {
        var nextIndex = parseInt($("#productsContainer .row:last-child").attr("data-index")) + 1;

        var $field = $(`<div class="row" data-index="${nextIndex}"><div class="col-7"><label for="Order_Products_${nextIndex}__ProductId">Product</label> <select class="form-select" data-val="true" data-val-required="The Product field is required." id="Order_Products_${nextIndex}__ProductId" name="Order.Products[${nextIndex}].ProductId"></select><div style="min-height:15px"><span class="text-danger small field-validation-valid" data-valmsg-for="Order.Products[${nextIndex}].ProductId" data-valmsg-replace="true"/></div></div><div class="col-3"><label for="Order_Products_${nextIndex}__Count">Count</label><input class="form-control" type="number" data-val="true" data-val-required="The Count field is required." id="Order_Products_${nextIndex}__Count" name="Order.Products[${nextIndex}].Count" value=""><div style="min-height:15px"><span class="text-danger small field-validation-valid" data-valmsg-for="Order.Products[${nextIndex}].Count" data-valmsg-replace="true"/></div></div><div class="col-2 align-self-center"><i class="btn fa-solid fa-xmark" style="color:red" onclick="toggleElement(this)"/></div></div>`);
        $("#productsContainer").append($field);

        $options = $("#Order_Products_0__ProductId option").clone();

        for (i = 0; i < $options.length; i++) {
            if (i == 0) continue;

            $($options[i]).removeAttr("selected")
        }

        $options.appendTo(`#Order_Products_${nextIndex}__ProductId`);
    }

    function toggleElement(el) {
        var $temp = $(el).parent().parent();

        $temp.toggle();

        var index = parseInt($temp.attr("data-index"));

        $(`#Order_Products_${index}__Count`).val("-1");
    }

    $(function () {
        $("#orderForm").submit(function (e) {
            e.preventDefault();

            var fdata = new FormData();

            var orderId = $("#Order_OrderId").val();

            fdata.append("Order.OrderId", orderId);
            fdata.append("Order.ReceivedDttm", $("#Order_ReceivedDttm").val());
            fdata.append("Order.ExternalOrderId", $("#Order_ExternalOrderId").val());
            fdata.append("Order.VendorId", $("#Order_VendorId").val());
            fdata.append("Order.Cost", $("#Order_Cost").val());
            fdata.append("Order.PurchaserId", $("#Order_PurchaserId").val());
            fdata.append("Order.ApproverId", $("#Order_ApproverId").val());
            

            var products = $("#productsContainer").children().length;

            for (var i = 0; i < products; i++)
            {
                fdata.append(`Order.Products[${i}].ProductId`, $(`#Order_Products_${i}__ProductId`).val());
                fdata.append(`Order.Products[${i}].Count`, $(`#Order_Products_${i}__Count`).val());
            }

            $.ajax({
                type: 'post',
                url: '/Orders/AddEdit/',
                data: fdata,
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                processData: false,
                contentType: false,
                success:  function (data, textStatus) {

                    if (textStatus == 'success')
                    {
                        $("#newOrderModal").modal("hide");

                        if (orderId === '') 
                        {
                            var isLastPage = $('#nextPageButton').hasClass('disabled');

                            if (isLastPage)
                            {
                                $('tbody').append(data);
                            }

                            doAnAlert("orderCreateSuccess");
                        }
                        else 
                        {
                            var resId = $(data).attr("data-id");
                            $("tbody").children(`[data-id='${resId}']`).replaceWith(data);
                            doAnAlert("orderEditSuccess");
                        }
                    }
                    else
                    {
                        doAnAlert("failure");
                    }
                    
                },
                error: function () {
                    doAnAlert("failure");
                }
            });

        });
    })
</script>